@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
.menu-container .menu, .menu-container {
  background: #F7F7F7;
}

html, body {
  font-family: Roboto, sans-serif;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-weight: 300;
}

.button-purple {
  display: flex;
  margin: 0 auto;
  min-width: 190px;
  width: fit-content;
  height: 50px;
  padding: 0 20px 0 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(172deg, #FF79DA, 48%, #9356DC);
  border-radius: 30px/50%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 7px #8d8d8d;
  transform: scale(1);
  transition: transform 400ms;
}
.button-purple:hover {
  transform: scale(1.15);
}

.tag-new-restaurant {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99E2D0;
  color: #4f9584;
  height: 30px;
  padding: 0 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.tag-new-restaurant p {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  box-shadow: 2px 0 5px 2px rgba(128, 128, 128, 0.631372549);
  margin-bottom: 4px;
}
header .logo {
  display: block;
  width: 180px;
}

.menu-header {
  position: relative;
  box-shadow: none;
}
.menu-header a {
  position: absolute;
  top: 23px;
  left: 20px;
  font-size: 1.3rem;
}

.menu-container .menu-img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  z-index: 0;
}
.menu-container .menu {
  padding: 40px 12px;
  position: relative;
  top: -50px;
  border-radius: 50px 50px 0 0;
  z-index: 1;
}
.menu-container .menu h1 {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 30px 35px 0;
  font-size: 1.7rem;
}
.menu-container .menu h1 i {
  align-self: center;
}
.menu-container .menu .meal-part {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .menu-container .menu .meal-part {
    width: 80%;
    margin: 0 auto 40px;
  }
}
.menu-container .menu .meal-part h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
}
.menu-container .menu .meal-part__underline-title {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin: 8px 0 12px 0;
}
.menu-container .menu .meal-part__element {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 3px rgba(211, 211, 211, 0.7333333333);
}
.menu-container .menu .meal-part__element a {
  display: block;
  padding: 15px 25px 15px 10px;
}
.menu-container .menu .meal-part__element-info {
  display: flex;
  justify-content: space-between;
}
.menu-container .menu .meal-part__element-price {
  font-weight: bold;
}
.menu-container .menu .meal-part__element h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: 500;
}

footer {
  background: #353535;
  padding: 25px 20px;
  color: white;
}
footer h2 {
  font-family: Shrikhand, sans-serif;
  margin-bottom: 25px;
  font-size: 1.3rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 10px;
}
footer a {
  color: white;
  font-size: 1.1rem;
}
footer a i {
  width: 30px;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer h2 {
    width: 100%;
    text-align: center;
  }
}

.location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
}
.location i {
  margin-right: 20px;
}

.search_restaurant {
  text-align: center;
  padding: 45px 5px;
  background-color: #F7F7F7;
}
.search_restaurant p {
  margin: 20px 0;
}

.functioning {
  padding: 50px 25px;
}
@media screen and (min-width: 992px) {
  .functioning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .functioning h2 {
    width: 100%;
  }
  .functioning__step {
    width: 30%;
    text-align: left;
  }
}
.functioning h2 {
  margin-bottom: 25px;
}
.functioning__step {
  margin-bottom: 20px;
  position: relative;
}
.functioning__step a {
  background: #F7F7F7;
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px;
  font-weight: bold;
  box-shadow: 2px 2px 10px 3px rgba(211, 211, 211, 0.7333333333);
}
.functioning__step i {
  margin-right: 20px;
  color: #8d8d8d;
}
.functioning__step-number {
  position: absolute;
  top: 25px;
  left: -10px;
  background: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .functioning__step {
    text-align: center;
    font-size: 1.2rem;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  padding: 60px 20px;
}
.restaurants h2 {
  margin-bottom: 25px;
}
.restaurants__card {
  position: relative;
  margin-bottom: 17px;
  border-radius: 15px;
  overflow: hidden;
}
.restaurants__card a {
  display: block;
  background: white;
}
.restaurants__card img {
  width: 100%;
  height: 174px;
  object-fit: cover;
}
.restaurants__card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 10px;
}
.restaurants__card-info i {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants__card {
    width: 49%;
  }
}

/*# sourceMappingURL=style.css.map */
