@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
.menu-container .menu, .menu-container {
  background: #F7F7F7;
}

html, body {
  font-family: Roboto, sans-serif;
  max-width: 1920px;
  margin: auto;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-weight: 300;
}

.button-purple {
  display: flex;
  margin: 0 auto;
  min-width: 190px;
  width: fit-content;
  height: 50px;
  padding: 0 20px 0 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(172deg, #FF79DA, 48%, #9356DC);
  border-radius: 30px/50%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 2px 7px #8d8d8d;
  transition: all 0.2s ease-in-out;
}
.button-purple:hover {
  opacity: 0.87;
  box-shadow: 0 2px 15px #8d8d8d;
}

.tag-new-restaurant {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99E2D0;
  color: #4f9584;
  height: 30px;
  padding: 0 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.tag-new-restaurant p {
  font-weight: bold;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
header .logo {
  display: block;
  width: 180px;
}

footer {
  background: #353535;
  padding: 25px 20px;
  color: white;
}
footer h2 {
  font-family: Shrikhand, sans-serif;
  margin-bottom: 25px;
  font-size: 1.3rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 10px;
}
footer a {
  color: white;
  font-size: 1.1rem;
}
footer a i {
  width: 30px;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer h2 {
    width: 100%;
    text-align: center;
  }
}

.loader {
  position: fixed;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 3s forwards;
}
.loader__letter {
  color: #9356DC;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 10px;
  animation: flash 1.2s linear infinite;
}
@media screen and (min-width: 768px) {
  .loader__letter {
    font-size: 2rem;
    letter-spacing: 15px;
  }
}
@media screen and (min-width: 992px) {
  .loader__letter {
    font-size: 3.7rem;
  }
}
.loader__letter:nth-child(1) {
  animation-delay: 0.1s;
}
.loader__letter:nth-child(2) {
  animation-delay: 0.2s;
}
.loader__letter:nth-child(3) {
  animation-delay: 0.3s;
}
.loader__letter:nth-child(4) {
  animation-delay: 0.4s;
}
.loader__letter:nth-child(5) {
  animation-delay: 0.5s;
}
.loader__letter:nth-child(6) {
  animation-delay: 0.6s;
}
.loader__letter:nth-child(7) {
  animation-delay: 0.7s;
}
.loader__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loader__letter:nth-child(9) {
  animation-delay: 0.9s;
}
.loader__letter:nth-child(10) {
  animation-delay: 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    z-index: 10;
  }
  80% {
    opacity: 1;
    z-index: 10;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}
.header-index {
  margin-bottom: 3px;
}
.header-index::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0px;
  box-shadow: 0px 10px 10px -10px #bababa inset;
}

.location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
}
.location i {
  margin-left: 10px;
  margin-right: 20px;
}
.location__search-input {
  border: none;
  background-color: #EAEAEA;
  width: 135px;
}
.location__search-input::placeholder {
  font-weight: bold;
  color: black;
  opacity: 1;
  font-size: 0.95rem;
}
.location__search-button {
  display: none;
}

.search_restaurant {
  text-align: center;
  padding: 45px 5px;
  background-color: #F7F7F7;
}
.search_restaurant p {
  margin: 20px 0;
}

.functioning {
  padding: 50px 25px;
}
@media screen and (min-width: 992px) {
  .functioning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .functioning h2 {
    width: 100%;
  }
  .functioning__step {
    width: 32%;
    text-align: left;
  }
}
.functioning h2 {
  margin-bottom: 25px;
}
.functioning__step {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .functioning__step {
    text-align: center;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  .functioning__step {
    text-align: left;
  }
}
.functioning__step a {
  background: #F7F7F7;
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 25px;
  font-weight: bold;
  box-shadow: 2px 2px 10px 3px rgba(211, 211, 211, 0.7333333333);
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 992px) {
  .functioning__step a {
    padding: 25px;
  }
}
.functioning__step a i {
  margin-right: 20px;
  color: #8d8d8d;
  transition: all 0.2s ease-in-out;
}
.functioning__step a:hover {
  background-color: #f2eafb;
}
.functioning__step a:hover i {
  color: #9356DC;
}
.functioning__step-number {
  position: absolute;
  top: 25px;
  left: -10px;
  background: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  padding: 60px 20px;
}
@media screen and (min-width: 768px) {
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants__card {
    width: 49%;
  }
}
.restaurants h2 {
  margin-bottom: 25px;
}
.restaurants__card {
  position: relative;
  margin-bottom: 17px;
  border-radius: 15px;
  overflow: hidden;
}
.restaurants__card a {
  display: block;
  background: white;
}
.restaurants__card img {
  width: 100%;
  height: 174px;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .restaurants__card img {
    height: 250px;
  }
}
.restaurants__card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 10px;
}
.restaurants__card-info i {
  font-size: 1.5rem;
}
.restaurants__card-info--like {
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
  color: #FF79DA;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  bottom: 26px;
  right: 10px;
}
.restaurants__card-info--like:hover {
  opacity: 1;
}

.menu-header a {
  position: absolute;
  top: 23px;
  left: 20px;
  font-size: 1.3rem;
}

.menu-container .menu-img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  z-index: 0;
}
@media screen and (min-width: 992px) {
  .menu-container .menu-img {
    height: 400px;
  }
}
.menu-container .menu {
  padding: 40px 12px;
  position: relative;
  top: -50px;
  border-radius: 50px 50px 0 0;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .menu-container .menu {
    padding: 40px 10%;
  }
}
@media screen and (min-width: 992px) {
  .menu-container .menu {
    padding: 40px 15%;
  }
}
.menu-container .menu h1 {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  font-size: 1.7rem;
  font-weight: lighter;
}
.menu-container .menu h1 span {
  position: relative;
  align-self: center;
}
.menu-container .menu h1 span i:nth-child(2) {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  color: #FF79DA;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.7rem;
  right: 27px;
}
.menu-container .menu h1 span i:nth-child(2):hover {
  opacity: 1;
}
.menu-container .menu .meal-part {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .menu-container .menu .meal-part {
    margin: 0 auto 40px;
  }
}
.menu-container .menu .meal-part h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
}
.menu-container .menu .meal-part__underline-title {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin: 8px 0 12px 0;
}
@media screen and (min-width: 768px) {
  .menu-container .menu .meal-part__underline-title {
    width: 20%;
  }
}
@media screen and (min-width: 992px) {
  .menu-container .menu .meal-part__underline-title {
    width: 30%;
  }
}
.menu-container .menu .meal-part__element {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 3px rgba(211, 211, 211, 0.7333333333);
  animation: appearance 1s ease-in-out;
}
@media screen and (min-width: 992px) {
  .menu-container .menu .meal-part__element {
    margin: 0 auto 10px;
  }
}
.menu-container .menu .meal-part__element a {
  display: block;
  padding: 15px 25px 15px 10px;
}
.menu-container .menu .meal-part__element-info {
  display: flex;
  justify-content: space-between;
}
.menu-container .menu .meal-part__element-price {
  font-weight: bold;
  margin-left: 5px;
}
.menu-container .menu .meal-part__element h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: 500;
}

@keyframes appearance {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
