.loader {
    position: fixed;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: map-get($map: $background-color, $key: tertiary);
    display: flex; 
    justify-content: center;
    align-items: center;
    animation: fade-out 3s forwards;
    &__letter {
        color: $primary-color;
        font-family: Roboto, sans-serif;
        font-size: 1.4rem;
        letter-spacing: 10px;
        animation: flash 1.2s linear infinite;
        @include tablette-display {
            font-size: 2rem;
            letter-spacing: 15px;
        }
        @include desktop-display {
            font-size: 3.7rem;
        }
        &:nth-child(1){
            animation-delay: 0.1s;
        }
        &:nth-child(2){
            animation-delay: 0.2s;
        }
        &:nth-child(3){
            animation-delay: 0.3s;
        }
        &:nth-child(4){
            animation-delay: 0.4s;
        }
        &:nth-child(5){
            animation-delay: 0.5s;
        }
        &:nth-child(6){
            animation-delay: 0.6s;
        }
        &:nth-child(7){
            animation-delay: 0.7s;
        }
        &:nth-child(8){
            animation-delay: 0.8s;
        }
        &:nth-child(9){
            animation-delay: 0.9s;
        }
        &:nth-child(10){
            animation-delay: 1s;
        }
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 10;
    }
    80% {
        opacity: 1;
        z-index: 10;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -5;
    }
}
@keyframes flash {
    0% {
        color: $secondary-color;
        text-shadow: 0 0 7px $secondary-color;
    }
    90% {
        color: $primary-color;
        text-shadow: none;
    }
    100% {
        color: $secondary-color;
        text-shadow: 0 0 7px $secondary-color;
    }
}

.header-index {
    margin-bottom: 3px;
    &::after{
        content: " ";
        position: absolute;
        width:100%;
        height: 3px;
        bottom: -3px;
        left: 0px;
        box-shadow: 0px 10px 10px -10px map-get($map: $box-shadows, $key: header) inset;
    } 
}

.location {
    background-color: map-get($background-color, tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
    i {
        margin-left: 10px;
        margin-right: 20px;
    }
    &__search-input {
        border: none;
        background-color: map-get($background-color, tertiary);
        width: 135px;
        &::placeholder {
            font-weight: bold;
            color: $text-color-secondary;
            opacity: 1;
            font-size: 0.95rem;
        }
    }
    &__search-button {
        display: none;
    }
}

.search_restaurant {
    text-align: center;
    padding: 45px 5px;
    background-color: map-get($map: $background-color, $key: secondary);
    p {
        margin: 20px 0;
    }
}

.functioning {
    padding: 50px 25px;
    @include desktop-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        h2 {
            width: 100%;
        }
        &__step {
            width: 32%;
            text-align: left;
        }
    }
    h2 {
        margin-bottom: 25px;
    }
    &__step {
        @include tablette-display {
            text-align: center;
            font-size: 1.2rem;
        }
        @include desktop-display {
            text-align: left;
        }
        margin-bottom: 20px;
        position: relative;
        a {
            @include desktop-display {
                padding: 25px;
            }
            background: map-get($map: $background-color, $key: secondary);
            border-radius: 20px;
            display: block;
            width: 100%;
            height: 100%;
            padding: 25px;
            font-weight: bold;
            box-shadow: 2px 2px 10px 3px map-get($map: $box-shadows, $key: link-element);
        }
        i {
            margin-right: 20px;
            color: $text-color-tertiary;
        }
        &-number {
            position: absolute;
            top: 25px;
            left: -10px;
            background: $primary-color;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-color-primary;
            font-size: .9rem;
            font-weight: bold;
        }
    }
}

.restaurants {
    @include tablette-display {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h2 {
            width: 100%;
        }
        &__card {
            width: 49%;
        }
    }
    display: flex;
    flex-direction: column;
    background-color: map-get($map: $background-color, $key: secondary);
    padding: 60px 20px;
    h2 {
        margin-bottom: 25px;
    }
    &__card {
        position: relative;
        margin-bottom: 17px;
        border-radius: 15px;
        overflow: hidden;
        a {
            display: block;
            background: map-get($map: $background-color, $key: primary);
        }
        img {
            width: 100%;
            height: 174px;
            object-fit: cover;
            @include desktop-display {
                height: 250px;
            }
        }
        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 17px 10px;
            i {
                font-size: 1.5rem;
            }
            &--like {
                position: absolute;
                @include heart-like;
                bottom: 26px;
                right: 10px;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}