@mixin tablette-display {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }   
}
@mixin desktop-display {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }   
}

@mixin heart-like {
    cursor: pointer;
    background: linear-gradient($primary-color, $secondary-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}