@mixin tablette-display {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }   
}
@mixin desktop-display {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }   
}

@mixin heart-like {
    font-size: 1.5rem;
    cursor: pointer;
    color: $secondary-color;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}