$primary-color: #9356DC;
$primary-color-light: lighten(#9356DC, 5%);
$secondary-color: #FF79DA;
$secondary-color-light: lighten(#FF79DA, 5%);
$tertiary-color: #99E2D0;
$dark-tertiary-color: #4f9584;
$text-color-primary: white;
$text-color-secondary: black;
$text-color-tertiary: #8d8d8d;

$background-color: (
    primary: white,
    secondary: #F7F7F7,
    tertiary: #EAEAEA,
    footer: #353535
);
$box-shadows: (
    header: #bababa,
    link-element: #d3d3d3bb 
);

$breakpoints: (
    tablette: 768px,
    desktop: 992px
);