.location {
    background-color: map-get($background-color, tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
    i {
        margin-right: 20px;
    }
}

.search_restaurant {
    text-align: center;
    padding: 30px 5px;
    background-color: map-get($map: $background-color, $key: secondary);
}

.restaurants {
    display: flex;
    flex-direction: column;
    &__card {
        width: 90%;
        img {
            display: block;
            width: 100%;
        }
    }
}